.star {
  height: 48px;
  width: 48px;
  cursor: pointer;
  margin: 2px;
  border-bottom: 2px solid transparent;

  &.selected {
    border-bottom: 2px solid lightblue;
  }
  &:hover {
    border-bottom: 2px solid blue;
  }
  &.disabled {
    &:hover {
      cursor: not-allowed;
    }
    &.selected {
      border-bottom: 2px solid lightblue;
    }
    &:not(.selected) {
      border-bottom: 2px solid transparent;
    }
  }
}
